footer p{
  position: absolute;
bottom: 5px;
left:45%;

}
tr{
  background-color: #0cb0f1;

}
 tr.even {
   background-color: #7ed3f5;
 }



 table {
  letter-spacing: 0.05em;

   position: relative;
   top: 50px;
   left: 12px;
   text-align: center;
   font-size: 120%;
 }
 table.main{
  width: 40%;
  left: 27%;



 }

 td {
   padding: 5px;
   margin: 5px;
   border: solid;
 }

 #imageSection {
   padding-top: 100px;
   padding-left: 5%;
   float: left;
   align-items: center;
 }

 img {
   border-radius: 30px;
   border-style: solid;
   border-color: darkgoldenrod;
   float: left;
   width: 300px;
   height: 300px;
   margin: 40px;
 }

 a {
   color: rgb(0, 0, 0);
   font-style: normal;
   font-weight: bold;
 }

 footer p {
   text-align: center;
 }

 body {
   width: 100%;
   background-image: url("assets/family.jpg");
   background-color: rgba(255, 255, 255, 0.5);
   background-blend-mode: lighten;
   background-size: 99%;
 }

 nav {
   position: fixed;
   left: 0;
   top: 0;
   height: 60px;
   width: 100%;
   border-bottom: 4px solid #ffffff;
   border-color: darkorange;
   opacity: 0.7;
   background-color: blueviolet;
 }

 li h2 {
   width: 20px;
 }

 li {
   display: inline-block;
   margin: 0px 10px;
   font-size: x-large;
   font-weight: bold;
   height: 35px;
   text-align: center;
 }

 h1 {
   text-align: center;
   font-weight: bolder;
   color: rgb(255, 0, 0);
   padding: 0mm;
   margin: 0mm;
 }

 h2 {
   text-align: center;
   color: rgb(255, 0, 0);
   padding: 0mm;
   margin: 0mm;
 }

 footer p {
   color: black;
   font-weight: bold;
 }